<div class="modal-header">
    <h3 class="modal-title">Add a mailing list</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" action="#" role="form" id="form-mailing-list-add">
        <div class="row">
            <div class="col-md-12">
                <div class="errorHandler alert alert-danger no-display">
                    <i class="fa fa-times-sign"></i> You have some form errors. Please check below.
                </div>
                <div class="successHandler alert alert-success no-display">
                    <i class="fa fa-ok"></i> Your form validation is successful!
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    Name <span class="symbol required"></span>
                </label>
                <div class="col-md-8">
                    <input type="text" ng-model="mailing_list.name" class="form-control" id="mlname" name="mlname">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Attached event <span class="symbol required"></span>
                </label>
                <div class="col-md-8">
                    <input type="text" ng-model="mailing_list.event" class="form-control" id="event" name="event">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    Email adresses <span class="symbol required"></span>
                </label>
                <div class="col-md-8">
                    <input type="email" ng-model="mailing_list.email" class="form-control" name="email" id="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <span class="symbol required"></span> Required Fields
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="submit" ng-click="submit()">
        Save <i class="fa fa-arrow-circle-right"></i>
    </button>
</div>
