<!DOCTYPE html>
<html lang="en" ng-app="alertcam">
<head>
    <meta charset="utf-8">
    <title>Alertcam</title>

    <link rel="stylesheet" type="text/css" href="css/angular-bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="libs/font-awesome-4.6.3/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/main-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="css/theme_light.css"/>
    <link rel="stylesheet" type="text/css" href="css/graphic.css"/>
</head>
<body style="/*padding-top: 90px;*/">

    <header class="front-end" ng-show="!authenticated">
        <div role="navigation" class="navbar navbar-default navbar-fixed-top space-top">
            <div class="container">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="welcome">
                        ALERTCAM
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a ui-sref="welcome">
                                Home
                            </a>
                        </li>
                        <li>
                            <a ui-sref="about">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a ui-sref="contact">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a ui-sref="login">
                                Sign In
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

	<header class="back-end" ng-show="authenticated" ng-controller="HomeController as home">
    	<div class="navbar navbar-inverse navbar-fixed-top">
    		<div class="container">
    			<div class="navbar-header">
    				<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
    					<span class="clip-list-2"></span>
    				</button>

    				<a class="navbar-brand" ui-sref="home">
    					ALERTC<i class="fa fa-bell"></i>M
    				</a>
    			</div>
    			<div class="navbar-tools">
    				<ul class="nav navbar-right">
    					<li class="dropdown current-user">
    						<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
    							<img src="images/avatar-1-small.jpg" class="circle-img" alt="">
    							<span class="username">Peter Clark</span>
    							<i class="clip-chevron-down"></i>
    						</a>
    						<ul class="dropdown-menu">
    							<li>
    								<a href="">
    									<i class="clip-user-2"></i>
    									&nbsp;My Profile
    								</a>
    							</li>
    							<li class="divider"></li>
    							<li>
    								<a href="" ng-click="home.logout()">
    									<i class="clip-exit"></i>
    									&nbsp;Log Out
    								</a>
    							</li>
    						</ul>
    					</li>
    					<li>
    						<a class="sb-toggle" href="#"><i class="fa fa-outdent"></i></a>
    					</li>
    				</ul>
    			</div>
    		</div>
    	</div>
        <div class="back-end">
           	<div class="main-container">
           		<div class="navbar-content">

           			<div class="main-navigation navbar-collapse collapse">

           				<ul class="main-navigation-menu">
           					<li ng-class="{ active: state=='dashboard', open: state=='dashboard' }">
           						<a href="#" ui-sref="dashboard.list">
           							<i class="fa fa-home"></i>
           							<span class="title"> Dashboard </span><span class="selected"></span>
           						</a>
           						<ul class="sub-menu">
           							<li ng-repeat="event in events">
           								<a href="#{{event.id}}">{{ event.name }}</a>
           							</li>
           						</ul>
           					</li>
           					<li ng-class="{ active: state=='surveillance', open: state=='surveillance' }">
           						<a href="#" ui-sref="surveillance.list">
           							<i class="fa fa-database"></i>
           							<span class="title"> Surveillance Data </span>
           						</a>
                            </li>
           					<li ng-class="{ active: state=='users', open: state=='users' }">
           						<a href="#" ui-sref="users">
           							<i class="fa fa-users"></i>
           							<span class="title"> Manage Users </span><span class="selected"></span>
           						</a>
           					</li>
           					<li ng-class="{ active: state=='tasks', open: state=='tasks' }">
           						<a href="#" ui-sref="tasks">
           							<i class="fa fa-tasks"></i>
           							<span class="title"> Configure Tasks </span>
           						</a>
                               </li>
           					<li>
           						<a href="#"><i class="fa fa-exchange"></i>
           							<span class="title"> Feedback </span>
           						</a>
                               </li>
                           </ul>
           				<!-- end: MAIN NAVIGATION MENU -->
           			</div>
           			<!-- end: SIDEBAR -->
           		</div>

           		<div class="main-content">
                    <div ui-view></div>
                </div>
           	</div>
        </div>
    </header>

	<div ui-view ng-show="!authenticated"></div>

    <script src="js/angular-bootstrap.js"></script>
    <script src="libs/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script src="app.js"></script>

    <script src="modules/users/users.js"></script>
    <script src="modules/users/controllers/users.controllers.js"></script>
    <script src="modules/users/controllers/mailing_lists.controllers.js"></script>
    <script src="modules/users/controllers/users_groups.controllers.js"></script>
    <script src="modules/users/controllers/events.controllers.js"></script>

    <script src="modules/surveillance-data/surveillance-data.js"></script>
    <script src="modules/surveillance-data/controllers/data-sources.controllers.js"></script>

    <script src="modules/tasks-management/tasks-management.js"></script>
    <script src="modules/tasks-management/controllers/scripts.controllers.js"></script>
    <script src="modules/tasks-management/controllers/schedulings.controllers.js"></script>
    
    <script src="modules/dashboard/dashboard.js"></script> 
    <script src="modules/dashboard/controllers/add.controllers.js"></script>
    <script src="modules/dashboard/directives/bar-chart.js"></script>
    <script src="modules/dashboard/directives/line-chart.js"></script>
    <script src="modules/dashboard/directives/scatter-plot.js"></script>
</body>
</html>
