<div class="modal-header">
    <h3 class="modal-title">Add an schedule</h3>
</div>
<div class="modal-body">
    <form action="#" role="form" id="form">
        <div class="row">
            <div class="col-md-12">
                <div class="errorHandler alert alert-danger no-display">
                    <i class="fa fa-times-sign"></i> You have some form errors. Please check below.
                </div>
                <div class="successHandler alert alert-success no-display">
                    <i class="fa fa-ok"></i> Your form validation is successful!
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        Name <span class="symbol required"></span>
                    </label>
                    <input type="text" ng-model="schedule.name" class="form-control" id="fullname" name="fullname">
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Script <span class="symbol required"></span>
                    </label>
                    <select ng-options="script.name for script in scripts track by script.id" ng-model="schedule.script" class="form-control" id="script" name="script">
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Start date <span class="symbol required"></span>
                    </label>
                    <p class="input-group">
                    	<input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="schedule.start_date" is-open="date.popup" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
					  		<button type="button" class="btn btn-default" ng-click="open_date()"><i class="fa fa-calendar"></i></button>
						</span>
					</p>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Time <span class="symbol required"></span>
                    </label>
                    <uib-timepicker ng-model="schedule.start_time" hour-step="1" minute-step="1" show-meridian="false"></uib-timepicker>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Datasource <span class="symbol required"></span>
                    </label>
                    <select ng-options="ds.name for ds in datasources track by ds.id" ng-model="schedule.datasource" class="form-control" id="datasource" name="datasource">
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        Mailing list <span class="symbol required"></span>
                    </label>
                    <select ng-options="ml for ml in mailing_list" ng-model="schedule.mailingList" class="form-control" id="datasource" name="datasource">
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <p class="control-label">
                        Periodicity <span class="symbol required"></span>
                    </p>
                    <div class="radio radio-primary radio-inline" ng-repeat="period in periodicity">
                        <input type="radio" name="periodicity" id="{{period}}" ng-model="schedule.periodicity" value="{{ period }}"/>
                        <label for="{{ period }}">{{ period }}</label>
                    </div>
                </div>
                <div class="form-group">
                    <p class="control-label">
                        Repetition rate
                    </p>
                    <div ng-if="schedule.periodicity == 'Hourly'">
                        Every
                        <input type="number" ng-model="schedule.repetitionRate" id="repetition_rate" name="repetition_rate"/>
                        Hours
                    </div>
                    <div ng-if="schedule.periodicity == 'Daily'">
                        Every
                        <input type="number" ng-model="schedule.repetitionRate" id="repetition_rate" name="repetition_rate"/>
                        Days
                    </div>
                    <div ng-if="schedule.periodicity == 'Weekly'">
                        <div class="checkbox checkbox-primary checkbox-inline" ng-repeat="w in weekly">
                            <input type="checkbox" checklist-model="schedule.repetitionRate" checklist-value="w"/>
                            <label for="{{ w }}">{{ w }}</label>
                        </div>
                    </div>
                    <div ng-if="schedule.periodicity == 'Monthly'">
                        <select ng-options="day for day in monthly" class="form-control"
                        	ng-model="schedule.repetitionRate" id="repetition_rate" name="repetition_rate">
                        </select>
                    </div>
                    <div ng-if="schedule.periodicity == 'Yearly'">
						
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <span class="symbol required"></span>Required Fields
                    <hr>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" type="submit" ng-click="submit()">{{ action }}</button>
</div>
