<div ng-controller="AddDashboard">
	<div id="wizard" class="swMain">
		<ul>
			<li>
				<a href="#step-1">
					<div class="stepNumber">
						1
					</div>
					<span class="stepDesc"> Dashboard
						<br />
						<small>Basic informations</small> 
					</span>
				</a>
			</li>
			<li>
				<a href="#step-2">
					<div class="stepNumber">
						1
					</div>
					<span class="stepDesc"> Graphic
						<br />
						<small>Choose a graphic</small> 
					</span>
				</a>
			</li>
			<li>
				<a href="#step-3">
					<div class="stepNumber">
						2
					</div>
					<span class="stepDesc"> Variables
						<br />
						<small>Choose the variables</small> 
					</span>
				</a>
			</li>
		</ul>		
		<div id="step-1">
			<h3>
				Dashboard
				<small>Basic informations</small> 
			</h3>
			
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Title</label>
								<input class="form-control" ng-model="dashboard.title" id="title" name="title"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="form-group">
				<div class="">
					<button type="button" class="btn btn-success finish-step btn-block" ng-click="next()">
						Next <i class="fa fa-arrow-circle-right"></i>
					</button>
				</div>
			</div>
		</div>
		<div id="step-2">
			<h3>
				Graphic
				<small>Choose a graphic</small> 
			</h3>
			
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href class="" ng-click="next('bar-chart')">
							<img src="/img/bar-chart.png" alt="Bar chart" style="height:150px;"/>
						</a>
					
						<div class="caption">Bar Chart</div>
					</div>					
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href class="" ng-click="next('scatterplot')">
							<img src="/img/scatter-plot.png" alt="Scatterplot" style="height:150px;"/>
						</a>
					
						<div class="caption">Scatter Plot</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href class="" ng-click="next('line-chart')">
							<img src="/img/line-chart.png" alt="Line chart" style="height:150px;"/>
						</a>
					
						<div class="caption">Line Chart</div>
					</div>					
				</div>
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail">
						<a href class=" ng-click="next('calendar')">
							<img src="/img/calendar.png" alt="Calendar Heat" style="height:150px;"/>
						</a>
					
						<div class="caption">Calendar Heat</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="">
					<button type="button" class="btn btn-light-grey back-step btn-block" ng-click="back()">
						<i class="fa fa-circle-arrow-left"></i> Back
					</button>
				</div>
			</div>
		</div>
		<div id="step-3">
			<h3>
				Variables
				<small>Choose the variables</small> 
			</h3>
			
			<div>
				<div>
					<fieldset>
						<legend>Data sources</legend>
						
						<div class="form-group">
							<label for="datasource"> Which data source ?</label>
							<select class="form-control" ng-options="datasource.name for datasource in datasources" ng-model="ds" ng-change="variablesFromDs()"></select>
						</div>
					</fieldset>
					<fieldset>
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-default" ng-repeat="(axis, items) in variables | groupBy: 'axis'">
						            <div class="panel-heading">
										<i class="fa fa-parent"></i>
						               	<h3 class="panel-title"> {{ axis }} </h3>
						                    
						                <div class="panel-tools">
											<a class="btn btn-xs btn-link collapses" href ng-click="collapse($event)">
											</a>
										</div>
						           	</div>
						                   
						           	<ul class="list-group"
										dnd-list="variables"
										dnd-allowed-types="[axis]">
										
										<li class="list-group-item" ng-repeat="item in items"
											dnd-draggable="item"
											dnd-type="item.axis"
											dnd-moved="onMoved(items, $index)"
											dnd-effect-allowed="move"
											dnd-selected="item.selected = !item.selected"
											ng-class="{'active': item.selected }">
											
											<h5>{{ item.name }} <small>{{ item.type }}</small></h5>
											
										</li>
									</ul>
						        </div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-success" ng-repeat="(name, items) in dashboard.graphic.axis | groupBy: 'name'">
									<div class="panel-heading">
										<h3 class="panel-title">{{ name }} <small>{{ dashboard.graphic.axis[$index].display }}</small></h3> 
					                    
						                <div class="panel-tools">
											<a class="btn btn-xs btn-link panel-config" href 
													data-toggle="modal" ng-click="configAxis(dashboard.graphic.axis[$index])">
												<i class="fa fa-wrench"></i>
											</a>
										</div>
									</div>
									<ul class="list-group"
										dnd-list="variables"
										dnd-drop="onDropOnAxis(name, item)">
										
										<li class="list-group-item" ng-repeat="item in items"
											dnd-draggable="item"
											dnd-moved="onMoved(items, $index)"
											dnd-effect-allowed="move"
											dnd-selected="item.selected = !item.selected"
											ng-class="{'active': item.selected }">
											
											<h5>{{ item.variable.name }} <small>{{ item.variable.type }}</small></h5>
											
										</li>
									</ul>
								</div>
							</div>
						</div>
					</fieldset>
				</div>

			</div>
			
			<div class="form-group">
				<div class="col-sm-2 col-sm-offset-3">
					<button type="button" class="btn btn-light-grey back-step btn-block" ng-click="back()">
						<i class="fa fa-circle-arrow-left"></i> Back
					</button>
				</div>
				<div class="col-sm-2 col-sm-offset-3">
					<button type="button" class="btn btn-success finish-step btn-block" ng-click="next()">
						Finish <i class="fa fa-arrow-circle-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>