<div class="">
	<div class="">
		<div class="modal-header">
			<h4 class="modal-title">Settings<small>axis.name</small></h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Axis label</label>
						<input type="text" class="form-control" ng-model="axis.display" name="display" id="display"/>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer" style="background: #ECF0F1;">
			<button type="button" class="btn btn-default" data-dismiss="modal">
				Close
			</button>
			<button type="button" class="btn btn-primary" ng-click="submit()">
				Save changes
			</button>
		</div>		
	</div>
</div>